<div class="field is-grouped">
  <%= link_to('Edit', edit_game_masters_universe_path(universe), class: "button is-small is-light") %>
  <%= link_to('Remove', game_masters_universe_path(universe), method: :delete, class: "button is-small is-danger is-light") %>
</div>
