<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>RPG-Engine</strong> by <a href="https://github.com/TomaszKorbecki">Tomasz Korbecki</a> and <a href="https://github.com/bigbob33">Michał Kosyk</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
