<%= form_for universe, url: url do |f| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= f.text_field :name, class: "input", placeholder: "Name your universe" %>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= f.text_area :description, class: "textarea", placeholder: "Give other players some context..." %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Create this Universe", class: "button is-link" %>
    </div>
  </div>
  </p>
<% end %>
