<section class="section">
  <h1 class="title">Universes</h1>
  <table class="table is-hoverable">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description (truncated)</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @universes.each do |universe| %>
        <%= render partial: "table_row", locals: { universe: universe } %>
      <% end %>
    </tbody>
  </table>
</section>
