<h1 class="title">Universes</h1>
<table class="table is-hoverable">
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        Description (truncated)
      </td>
    </tr>
  </thead>
  <tbody>
    <% @universes.each do |universe| %>
      <tr>
        <td>
          <%= universe.name %>
        </td>
        <td>
          <%= truncate(universe.description) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
