<section class="section">
  <div class="level">
    <div class="level-left">
      <h1 class="title"><%= @universe.name %></h1>
    </div>
    <div class="level-right">
    </div>
  </div>
  <div class="columns is-mobile is-multiline">
    <div class="column is-half">
      <%= @universe.description %>
    </div>
    <div class="column is-half">
      <div class="level">
        <div class="level-left">
          <h1 class="bd-anchor-name">Adventures</h1>
        </div>
        <div class="level-right">
          <%= link_to('Add a new Adventure!', new_game_masters_universe_adventure_path(@universe), class: "button") %>
        </div>
      </div>
      <% @recent_adventures.each do |adventure| %>
        <div class="content">
          <%= render partial: "game_masters/universes/adventures/card", locals: { adventure: adventure } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
