<section class="section">
  <div class="level">
    <div class="level-left">
      <h1 class="title"><%= @universe.name %></h1>
    </div>
    <div class="level-right">
      <%= link_to('Add a new Adventure!', new_game_masters_universe_path, class: "button is-large") %>
    </div>
  </div>
  <div class="columns is-mobile is-multiline">
      <div class="column is-one-third">
      </div>
  </div>
</section>
