<section class="section">
  <div class="level">
    <div class="level-left">
      <h1 class="title">Available Universes</h1>
    </div>
  </div>
  <div class="columns is-mobile is-multiline is-centered">
    <% @universes.each do |universe| %>
      <div class="column is-one-third">
        <%= render partial: "card", locals: { universe: universe } %>
      </div>
    <% end %>
  </div>
</section>
